@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:#091628;
    width: 100%;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #48546E;
    border-radius: 100vh;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}


@layer components {
    .fx{
        @apply flex items-center space-x-2 cursor-pointer
    }
    .fc{
        @apply flex items-center justify-center space-x-2 cursor-pointer
    } 
    .fy{
        @apply flex flex-col
    }
    .an{
        @apply hover:scale-105 transition transform ease-in-out duration-200 tracking-wide hover:tracking-wider
    }
    .sideh3{
        @apply text-sm font-semibold hover:font-medium  font-mono text-color2
    }
    .sideh5{
        @apply text-base font-medium text-color3 font-popi text-right
    }
    .sd{
        @apply shadow-[#303C55] shadow-md
    }
    .br{
        @apply border-r border-gray-900
    }
    .bl{
        @apply border-l border-gray-900
    }
    .navBtn{
        @apply text-sm font-medium font-popi tracking-wide text-color3 
    }
}
